# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore all files by default
out

# Allow Java source files
!*.java

# Ignore specific directories and IDE files
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Maven
target/
log/

# Compiled Files
*.class
bin/
build/
out/

